body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #E7DECD;

}

header .mainHeader {
  background-color: #564E58;
  color: #ffffff;
  min-height: 50px;
  padding-top: 10px;
  font-size: 30px;
  border-bottom: 5px solid #eca1a6;
  top: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.headerText {
  font-family: Lobster;
  font-size: 40px;
  padding-left: 80px;
  padding-bottom: 20px;
  font-weight: bold;
  float: left;
}

header ul {
  margin: 0;
  padding: 0;
}

header nav {
  float: right;
  padding-right: 90px;
  padding-top: 10px;
}

header li {
  display: inline;
  text-decoration: none;
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 30px;
}

header a {
  text-decoration: none;
  color: #DCDCDC;
  font-size: 15px;
}

header a:hover {
  color: #ffffff;
  font-weight: bold;
}

.mainHeader:after {
  content: "";
  display: block;
  clear: both;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.leftContainer {
  width: 60%;
  margin-left: 40px;
  background-color: #BDB4BF;
  border-radius: 6px;
  margin-bottom: 20px;
}

span {
  font-weight: bold;
}

h1 {
  text-align: center;
  color: #fff;
  padding-top: 20px;
  font-family: Lobster;
  font-size: 35px;
}

#about img {
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #bdcebe;
  border-radius: 5px;
}

#about p {
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
  text-align: justify;
  font-size: 16px;
  line-height: 1.3em;
}

.hr1 {
  width: 450px;
}

#hobbies img {
  width: 200px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #bdcebe;
  border-radius: 50%;
}

#hobbies p {
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
  text-align: justify;
  font-size: 16px;
  line-height: 1.3em;
}

#news p {
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
  text-align: justify;
  font-size: 16px;
  line-height: 1.3em;
}

#news a {
  text-decoration: underline;
  color: #fff;
}

#news a:hover {
  color: #eca1a6;
}

.rightContainer {
  width: 30%;
  margin-right: 40px;
  background-color: #BDB4BF;
  border-radius: 6px;
  margin-bottom: 20px;
}

h3 {
  font-family: Lobster;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.rightContainer h4 {
  font-size: 25px;
  color: #fff;
  margin: 0;
  padding: 10px;
}

.rightContainer ul {
  margin: 0px;
  padding-left: 15px;
  list-style-type: none;
}

.rightContainer li {
  padding-left: 15px;
}

.rightContainer a {
  text-decoration: none;
  color: #fff;
  line-height: 1.5em;
}

.rightContainer a:hover {
  color: #eca1a6;
}

.rightContainer textarea {
  box-sizing: border-box;
  width: 90%;
  border-radius: 3px;
  margin: 15px;
}

.hr2 {
  width: 200px;
}

.rightContainer p {
  color: #fff;
  text-align: justify;
  padding: 10px;
  line-height: 1.5em;
}

.leftContainer textarea {
  box-sizing: border-box;
  width: 95%;
  border-radius: 3px;
  margin: 15px;
}

.submitBtn1 {
  background: #eca1a6;
  color: #fff;
  font-size: 20px;
  justify-content: center;
}

.leftContact p {
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
  text-align: justify;
  font-size: 16px;
  line-height: 1.3em;
}

p.centeredText {
  text-align: center;
}

label {
  margin-right: 15px;
  margin-left: 15px;
  color: #fff;
  text-align: justify;
  font-size: 16px;
  line-height: 1.3em;
}

input {
  border-radius: 3px;
  font-size: 16px;
}

.textInput {
  margin: 15px;
}

.emailBox {
  font-size: 16px;
  margin: 0 15px 20px 15px;
}

.submitBtn {
  background: #eca1a6;
  color: #fff;
  font-size: 16px;
}

.followList img {
  width: 30px;
}

.followList li {
  display: inline;
}

footer {
  background-color: #564E58;
  color: #fff;
  padding: 5px;
  height: 60px;
  border-top: 5px solid #eca1a6;
}

footer .footerText {
  float: left;
  display: inline;
  width: 40%;
  padding-top: 20px;
  margin-left: 50px;
}

footer .follow {
    float: right;
    display: inline;
    text-align: center;
}

footer img {
  width: 30px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  text-decoration: none;
  list-style: none;
  display: inline;
  padding: 10px;
}
